common/weechat/\.weechat/logs/
common/weechat/\.weechat/sec\.conf
common/weechat/\.weechat/urlserver_list\.txt

*.cmdline
*.db
*.log
*.pyc
*.search

common/qutebrowser/\.config/qutebrowser/qsettings/QtProject\.conf
